body {
  background-color: #00909e;
}

.navegador {
width: 100%;
background-color: #1b2a49;
padding-top: 5px;
padding-left: 25px;
padding-bottom: 5px;
  }

.logo {
  width: 75px;
  margin-left: 45px
}

.botonesHeader {
margin-right: 10px;
font-size: 30px;
font-family: sans-serif;
font-weight: bold;
background-color: black;
border-radius: 15px 50px 30px 5px;
padding: 5px
}

.populares {
display: flex;
width: 80%;
}

.xpuntaje {
width: 80%;
}

.aire {
width: 80%;
}

footer {
background-color: #c9d1d3;
display: flex;
justify-content: space-around;
align-items: center;

}

.footerlogo {
  width: 100px;
}

.footerimg {
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.titulo {
width: 95%;
background-color: rgba(111, 194, 235, 1);
border-radius: 15%;

  }

  .sillon-card {
  margin-top: 20px;
  opacity: 0;
  width: 30%;
}
.sillon-card img {
  display:block;
  margin: auto;
  width: 60%;
}

.sillon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
