body {
  background-color: #00909e;
  font-family: helvetica;
  color: black;
}

.navegador {
width: 100%;
background-color: #1b2a49;
padding-top: 5px;
padding-left: 25px;
padding-bottom: 5px;
  }

.logo {
    width: 75px;
    margin-left: 45px
  }

  .botonesHeader {
  margin-right: 10px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: black;
  border-radius: 15px 50px 30px 5px;
  padding: 5px
  }

.titulo {
width: 100%;
font-size: 45px;
text-align: center;
margin-top: 25px;
  }

.recomendaciones {
text-align: center;
font-size: 30px;
font-weight: bold;
color: black
}

ul {
list-style-type: none;
}

h2 {
font-weight: bold;
}

.sinopsis {
width: 95%;
background-color: rgba(210, 236, 249, 0.5);
padding: 1%;
border-radius: 28px 28px 28px 28px;;
}

footer {
background-color: #d2ecf9;
display: flex;
justify-content: space-around;
align-items: center;
}

.footerlogo {
    width: 100px;
}

.footerimg {
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .img1 {
width: 420px;
border-radius: 15%
}
