body {
  background-color: #1f5f8b;
  font-family: helvetica;
}

.navegador {
width: 100%;
background-color: #253b6e;
padding-top: 5px;
padding-left: 25px;
padding-bottom: 5px;
  }

.logo {
    width: 75px;
    margin-left: 45px
  }

  .botonesHeader {
  margin-right: 10px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: black;
  border-radius: 15px 50px 30px 5px;
  padding: 5px
  }
  footer {
  background-color: #d2ecf9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .footerlogo {
      width: 100px;
  }

  .footerimg {
      width: 15%;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .img1 {
  width: 420px;
  border-radius: 15%
  }
