<link rel="stylesheet" href="/stylesheets/headerFooter.css">
<link rel="stylesheet" href="/stylesheets/uikit.min.css" />
<script src="/javascripts/uikit.min.js"></script>
<script src="/javascripts/uikit-icons.min.js"></script>
    <footer>
        <h4>Agustin Lalia & Franco La Mattina</h3>
        <a href="/home"><img src="/images/dvd.png" alt="" class="footerlogo"></a>
        <img src="/images/TMDB.png" alt="" class= footerimg>

    </footer>
</body>
</html>