<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/headerFooter.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
  </head>
<body>
    <header>
      <div class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left navegador">
          <a href="/home"><img src="/images/dvd.png" alt="" class="logo"></a>
          <a href="" class="uk-navbar-item uk-logo"></a>
          <ul class="uk-navbar-nav"><a class= "botonesHeader" href="/home">Inicio</a></ul>
          <ul class="uk-navbar-nav"><a class= "botonesHeader" href="/genres">Generos</a></ul>
          <ul class="uk-navbar-nav"><a class= "botonesHeader" href="/genres">Mis reseñas</a></ul>
          <div class="uk-navbar-item">
            <form class="buscar" action="/search" method="get">
              <input class="uk-input uk-form-width-medium busqueda" type="text" name="q" value="" placeholder="Busqueda">
            </form>
          </div>
          <ul class="uk-navbar-nav"><a class= "uk-button uk-button-danger uk-button-small" href="/usuarios">Buscar Usuario</a></ul>
          <ul class="uk-navbar-nav"><a class= "uk-button uk-button-secondary uk-button-small" href="/usuarios/create">Crear Usuario</a></ul>
          <ul class="uk-navbar-nav"><a class= "uk-button uk-button-primary uk-button-small" href="/usuarios/reviews">Iniciar Sesión</a></ul>
        </div>
      </div>
    </header>