<%- include partials/header %> 
<title>Generos</title>
<link rel="stylesheet" href="/stylesheets/headerYfooter.css">
<link rel="stylesheet" href="/stylesheets/uikit.min.css" />
<link rel="stylesheet" href="/stylesheets/genres.css" />
<script src="/javascripts/uikit.min.js"></script>
<script src="/javascripts/uikit-icons.min.js"></script>

    <ul class="listado"></ul>


    <script type="text/javascript" src="/javascripts/pag2.js">  </script>

    <%- include partials/footer %> 

