<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generos</title>
    <link rel="stylesheet" href="/stylesheets/headerYfooter.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/pg2.css" />
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
  </head>
  <body>
    <header>
      <div class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left navegador">
          <a href="/home"><img src="/images/dvd.png" alt="" class="logo"></a>
          <a href="" class="uk-navbar-item uk-logo"></a>
          <ul class="uk-navbar-nav"><a class= "botonesHeader" href="/home">Inicio</a></ul>
          <ul class="uk-navbar-nav"><a class= "botonesHeader" href="/genres">Generos</a></ul>
          <div class="uk-navbar-item">
            <form class="buscar" action="pagina4.ejs" method="get">
              <input class="uk-input uk-form-width-medium busqueda" type="text" name="q" value="" placeholder="Busqueda">
            </form>
          </div>
        </div>
      </div>
    </header>

    <ul class="listado"></ul>

    <footer>
      <h3>Agustin Lalia & Franco La Mattina</h3>
      <a href="/home"><img src="/images/dvd.png" alt="" class="footerlogo"></a>
      <img src="/images/TMDB.png" alt="" class= footerimg>

    </footer>

    <script type="text/javascript" src="/javascripts/pag2.js">  </script>
  </body>
</html>
