<%- include partials/header %>

<link rel="stylesheet" href="/stylesheets/detail.css" />

<br>
<div class="Afuera">
<div class="Adentro rese単asCont">
    <% if (tipo == "delete") { %>
        <form id="formlogin" method="POST" 
        action="/usuarios/reviews/delete/<%= deleteId %>">
            <h2 style="color:black">Borrar rese単a</h2>
            <p>Confirma tus datos para borrar la rese単a seleccionada</p>
                <div>
                    <div>
                        <span></span>
                        <input type="email" name="email" id="email" placeholder="email...">
                    </div>
                </div>

                <div>
                    <div>
                        <span></span>
                        <input type="password" name="password" id="pass" placeholder="password...">
                    </div>
                </div>
                <br>

                <button type="submit" name="button">Confirm</button>
        </form>
    <% } else { %> 
        <form id="formlogin" method="POST" action="/usuarios/reviews">
            <h3 style="color:black">Ingresa tus datos!</h1>

            <div>
                <div>
                    <span></span>
                    <input type="email" name="email" id="email" placeholder="email...">
                </div>
            </div>
            <br>
            <div>
                <div>
                    <span></span>
                    <input type="password" name="password" id="password" placeholder="password...">
                </div>
            </div>
            <br>

            <button type="submit" name="button">Confirm</button>
        </form>
           <% }%>
</div>
</div>
<br>

<script>
    let query = new URLSearchParams(location.search)
    let error = query.get('error')
    if (error == "true") {
        alert('Error: Usuario o Contrase単a incorrecta')
    }
</script>

<%- include partials/footer %>