<%- include partials/header %>
    <form action="/usuarios/store" method="post">
        <label>Nombre y Apellido:</label> <input type="text" name="name">
        <br>
        <label>Fecha de Nacimiento:</label> <input type="date" name="birth_date">
        <br>
        <label>Email:</label> <input type="email" name="email">
        <br>
        <label>Contraseña:</label> <input type="text" name="password">
        <br>
        <button type="submit">Registrarse!</button>
    </form>
    
<%- include partials/footer %>