<%- include partials/header %>

    <form action="/usuarios/search" method="GET" class="formUsuarios"> 
        <label for="user">BUSCADOR DE USUARIO</label>
        <input type="user" id="searchUser" name="searchUser">
        <button type="submit">Enviar!</button>
    </form>

<%- include partials/footer %>