<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario</title>
</head>
<body>
    <h1>Resultados</h1>
    <ul>
        <% for(let i = 0; i < listaUsuarios.length; i++ ) { %>
            <li>
                <%= listaUsuarios[i].name %>
                <a href="/usuarios/detail/<%= listaUsuarios[i].id %> ">ver detalle </a>
            </li> <% }%>

    </ul>
</body>
</html>

