body {
  background-color: #cbf1f5;
  font-family: helvetica;
  color: black;
}

.titulo {
width: 100%;
font-size: 45px;
text-align: center;
margin-top: 25px;
  }

.recomendaciones {
text-align: center;
font-size: 30px;
font-weight: bold;
color: black
}

.Afuera {
  width:100%
}

.reseñasCont {
  background-color: #defcfc;
  padding: 1rem;
  border-radius: 15px 15px 15px 15px; 
}

.Adentro {
    display: table;
    margin: 0 auto;

}

.AfueraReview {
  width:100%
}

.AdentroReview {
  display: table;
  padding: 2rem;
  margin: 0 auto;
  background-color: #defcfc;
  border-radius: 15px 15px 15px 15px; 
}

ul {
list-style-type: none;
}

h2 {
font-weight: bold;
}

.sinopsis {
width: 95%;
background-color: #defcfc;
padding: 1%;
border-radius: 28px 28px 28px 28px;;
}

  .img1 {
width: 420px;
margin: auto;
}

.formContainer {
  margin: auto;
  width: 50%;
}

.reseñas {
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}