body {
  background-color: #cbf1f5;
  font-family: helvetica;
  color: black;
}

.titulo {
width: 100%;
font-size: 45px;
text-align: center;
margin-top: 25px;
  }

.recomendaciones {
text-align: center;
font-size: 30px;
font-weight: bold;
color: black
}

ul {
list-style-type: none;
}

h2 {
font-weight: bold;
}

.sinopsis {
width: 95%;
background-color: #ffe6eb;
padding: 1%;
border-radius: 28px 28px 28px 28px;;
}

  .img1 {
width: 420px;
margin: auto;
}

.formContainer {
  margin: auto;
  width: 50%;
}

.reviewFormDiv {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffe6eb;
  width: 600px;
}

.reseñasCont {
  width: 97%;
  background-color: #dd91a0;
  border-width: 4px 4px;
  border-radius: 40px;
  margin-bottom: 40px;
}

.reseñas {
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}