body {
  background-color: #cbf1f5;
  font-family: helvetica;
  color: black;
}

.titulo {
width: 100%;
font-size: 45px;
text-align: center;
margin-top: 25px;
  }

.recomendaciones {
text-align: center;
font-size: 30px;
font-weight: bold;
color: black
}

ul {
list-style-type: none;
}

h2 {
font-weight: bold;
}

.sinopsis {
width: 95%;
background-color: rgba(255, 230, 235, 0.8);
padding: 1%;
border-radius: 28px 28px 28px 28px;;
}

  .img1 {
width: 420px;
}

.formContainer {
  text-align: center;
}

.reviewFormDiv {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border-radius: 5px 5px 5px 5px;
  background-color: #ffe6eb;
  width: 600px;
}
