.navegador {
    width: 100%;
    background-color: #a6e3e9;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 5px;
      }
    
.logo {
      width: 75px;
      margin-left: 45px
    }
    
.botonesHeader {
    margin-right: 10px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #defcfc;
    border-radius: 15px 15px 15px 15px;
    padding: 5px
    }

footer {
        background-color: #a6e3e9;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        
.footerlogo {
          width: 100px;
        }
        
.footerimg {
          width: 15%;
          padding-top: 10px;
          padding-bottom: 10px;
        }

