body {
  background-color: #cbf1f5;
}

.titulosection {
text-align: center;
font-size: 30px;
color: #2C3536;
font-weight: bold;
}

.populares {
display: flex;
width: 80%;
}

.poster:hover {
    opacity: 0.5;
    transition: 1s;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }

.xpuntaje {
width: 80%;
}

.aire {
width: 80%;
}


.titulo {
text-align: center;
  }
